/parent-project/restful-web-services/target/
ba-ders-calisma/ba-ders-calisma.iml
ba-ders-calisma/.idea/misc.xml
ba-ders-calisma/.idea/vcs.xml
ba-ders-calisma/pom.xml
ba-ders-calisma/.idea/.gitignore
ba-ders-calisma/.idea/compiler.xml
ba-ders-calisma/.idea/jarRepositories.xml
